*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#414345,
		#232526
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.contours {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 37rem;
	height: 69rem;
	border-radius: 4rem;
	background-color: #000813;
}

.container {
	background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
	width: 35rem;
	height: 56rem;
	border-radius: 4rem;
}

.weather-box {
	width: 100%;
	height: 100%;
}

.location {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	height: 10%;
	transition: background-color 0.2s, color 0.2s;
}

.location-btn {
	position: absolute;
	right: 7rem;
	border: none;
	width: 3rem;
	height: 3rem;
	background-color: inherit;
	border-radius: 50%;
	cursor: pointer;
}

.location-btn:hover {
	background-color: #005bea;
}

.location i {
	font-size: 2.2rem;
	color: #00c6fb;
}

.location input {
	padding: 1rem 0.5rem;
	border-radius: 15px;
	border: none;
	outline: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #555;
}

.img-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.weather-img {
	width: 18rem;
	height: 18rem;
}

.weather-box img {
	width: 100%;
	height: 100%;
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40%;
	color: #ffffff;
}

.temp-box {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 30%;
}

.temp-box p {
	font-size: 5rem;
	color: #ffffffbe;
}

.temperature {
	font-size: 10rem;
}

.weather-description {
	font-size: 2.5rem;
}

.date {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: #ffffff6b;
}

.line {
	margin-top: 3.5rem;
	width: 80%;
	height: 1px;
	background-color: #ffffff6b;
}

.description-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 8rem;
	height: 8rem;
	text-align: center;
	font-size: 1.2rem;
	color: #ffffff;
}

.help i {
	font-size: 1.5rem;
}

.unit {
	margin: 3px 0;
}

.what {
	color: #ffffff6b;
}

.error {
	color: tomato;
}

/* ================================= */

.more-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.today {
	width: 19rem;
	margin: 1rem 0;
	font-size: 1.7rem;
	color: #ffffff;
}

.next-days {
	color: #ffffff;
	font-size: 1.7rem;
	cursor: pointer;
	border: none;
	background-color: inherit;
}

.next-days:hover {
	color: #108afe;
}

.today-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 35rem;
}

.upcoming-weather {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	/* padding: 0.5rem 0.5rem; */
	width: 5.5rem;
	height: 7rem;
	border: 2px solid #142232;
	border-radius: 2rem;
	color: #ffffff;
	text-align: center;
	transition: background-color 0.3s;
}

.upcoming-weather:hover {
	background-color: #108afe;
}

.upcoming-temp {
	font-size: 1.5rem;
}

.upcoming i {
	font-size: 1.5rem;
}

.time {
	color: #ffffff6b;
}

.upcoming-img {
	width: 2rem;
	height: 2rem;
}

.upcoming-img img {
	width: 100%;
	height: 100%;
}

/* activation class */
/* ================= */
.non-active {
	display: none;
}
/* ================= */

/* 7 days forecast */

.tommorow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: red solid 2px;
	width: 100%;
	height: 100%;
}
